* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: "Noto Sans Devanagari";
    background: linear-gradient(
        72deg,
        rgba(255, 153, 0, 0.84) 0%,
        #f77f00 71%,
        #ffb312 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #f77f00;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-toggle {
    font-size: 1.5rem;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 50%;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: -19em;
    width: 18em;
    height: 100vh;
    padding: 0.5em;
    transition: left 0.25s ease-in-out;
    background: #fff;
}

nav.active {
    left: 0;
}

nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.5rem 0;
    color: white;
    text-decoration: none;
}

section {
    width: 90%;
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: scroll;
    margin: 0.5rem;
    margin-bottom: 2rem;
    padding: 1em;
    background: rgb(252, 248, 227);
    border-radius: 0.25rem;
}

.section-title {
    margin-bottom: 0.75rem;
    font-weight: bold;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    padding: 0.75rem 0.5rem;
    border-radius: 10px;
    text-align: center;
}

.grid-item .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.grid-item .subtitle {
    font-size: 0.9rem;
    color: #666;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    width: 100%;
    margin: 2rem 0;
    border: 0.1rem solid #b78b03;
}

td,
th {
    padding: 0.2rem;
    border: 0.1rem solid #b78b03;
    text-align: center;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
}

*,
:after,
:before {
    box-sizing: inherit;
}

label {
    display: block;
    margin: 0.5rem 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    white-space: normal;
}

label + small {
    font-style: normal;
}

small {
    display: block;
    opacity: 0.75;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
}

small:last-child {
    margin-bottom: 0;
}

legend {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 0.8751rem;
    font-weight: 500;
    color: #374151;
}

input,
select {
    box-shadow: none;
    -moz-appearance: none;
    appearance: none;
    --icon-background-offset: 0.75rem;
    width: 80%;
    padding: 0.75rem;
    transition: all 0.15s ease-out;
    background: #f9fafb;
    border: 1px solid #c0c4c9;
    border-bottom: 2px solid #c0c4c9;
    border-bottom-width: 1px;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: normal;
    color: #20242f;
}

input:required:not(:placeholder-shown):invalid,
select:required:not(:placeholder-shown):invalid {
    background-color: #f9fafb;
    border-color: #c0c4c9 #c0c4c9 red;
    border-bottom-color: #c0c4c9;
    color: #20242f;
}

input:required:not(:placeholder-shown):invalid:focus,
select:required:not(:placeholder-shown):invalid:focus {
    background-color: #f9fafb;
    border-color: #c0c4c9;
    color: #20242f;
}

input:required:not(:placeholder-shown):valid,
select:required:not(:placeholder-shown):valid {
    background-color: #f9fafb;
    border-color: #c0c4c9 #c0c4c9 green;
    border-bottom-color: #c0c4c9;
    color: inherit;
}

input:disabled,
select:disabled {
    opacity: 0.75;
    cursor: not-allowed;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #929292;
    letter-spacing: 0;
}

input:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: #929292;
    letter-spacing: 0;
}

input:-moz-placeholder,
input::-moz-placeholder,
select:-moz-placeholder,
select::-moz-placeholder {
    color: #929292;
    letter-spacing: 0;
}

input:focus,
select:focus {
    outline: none;
    border-color: #374151;
}

input + small,
select + small {
    margin-top: 0.5rem;
}

input.icon-left,
select.icon-left {
    padding-left: var(--icon-padding);
    background-position: left var(--icon-background-offset) bottom 50%;
    background-size: 1rem;
}

input.icon-right,
select.icon-right {
    padding-right: var(--icon-padding);
    background-position: right var(--icon-background-offset) bottom 50%;
    background-size: 1rem;
}

input:-webkit-autofill,
select:-webkit-autofill {
    padding: 0.75rem !important;
}

input:placeholder-shown {
    padding-left: 2.25rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236B7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4.35-4.35'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 0.75rem bottom 50%;
    background-size: 1rem;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236B7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cpath d='M18 6L6 18M6 6l12 12'/%3E%3C/svg%3E");
}

input[type="search"]:focus {
    padding-left: 0.75rem;
    background-position: left -1rem bottom 50%;
}

input[type="number"] {
    width: auto;
}

input[type="date"] {
    min-width: 14em;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236B7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-calendar'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cpath d='M16 2v4M8 2v4M3 10h18'/%3E%3C/svg%3E");
}

input[type="time"] {
    min-width: 6em;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236B7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-clock'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 6v6l4 2'/%3E%3C/svg%3E");
}

input[type="date"],
input[type="time"] {
    width: auto;
    background-repeat: no-repeat;
    background-position: right 0.75rem bottom 50%;
    background-size: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    opacity: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0;
    background-position: 50%;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0.125rem;
    vertical-align: top;
}

input[type="checkbox"]:hover {
    border: 1px solid #374151;
}

input[type="checkbox"]:checked {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
    background-color: #374151;
    border-color: #374151;
}

input[type="checkbox"].switch {
    position: relative;
    width: 1.25rem;
    height: 0.25rem;
    border-radius: 1.25rem;
}

input[type="checkbox"].switch:after {
    -webkit-transform: translateY(-50%);
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    transition: all 0.2s ease-out;
    background: #c0c4c9;
    border-radius: 1rem;
}

input[type="checkbox"].switch:checked {
    background: none;
    background-color: #374151;
    background-position: 0 0;
}

input[type="checkbox"].switch:checked:after {
    -webkit-transform: translateY(-50%) translateX(calc(1.25rem - 2px));
    transform: translateY(-50%) translateX(calc(1.25rem - 2px));
    background: #fff;
}

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%236B7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem bottom 50%;
    background-size: 1rem;
}

nav a {
    display: flex;
    align-items: center;
    padding: 0.75em 1em;
    border-radius: 0.25em;
    color: #374151;
    text-decoration: none;
}

nav a:hover {
    background: #f3f4f6;
}

nav a svg {
    width: 1.25em;
    height: 1.25em;
    margin-right: 1em;
    color: #1f2937;
}

footer {
    padding: 0.25em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f77f00;
    font-size: 0.875rem;
    color: white;
}

.href-target {
    position: absolute;
    top: -2em;
}

button[type="reset"] {
    -webkit-align-items: center;
    display: -webkit-inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    transition: background 0.2s ease-out;
    background: #24292e;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

button svg {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.75em;
}

button[type="reset"] {
    background: #374151;
}

button[type="reset"]:hover {
    background: #2538df;
}

h1 {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

section h1 svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    vertical-align: -10%;
}

section strong {
    font-weight: 500;
    color: #000;
}

section p {
    margin: 0.5rem 0 1.5rem;
}

section p a {
    font-weight: 500;
    color: #374151;
    text-decoration: none;
}

section p:last-child {
    margin-bottom: 0;
}

section code {
    content: "";
    position: relative;
    z-index: 1;
    margin: 0 2px;
    padding: 2px 5px;
    background: #f3f4f4;
    border-radius: 3px;
    font-family: Consolas, monaco, monospace;
    font-weight: 500;
    white-space: nowrap;
}

section ul {
    margin-top: 0.5em;
    padding-left: 1em;
    list-style-type: disc;
}

button {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    top: 1em;
    right: 1em;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
}

button[type="submit"] {
    margin: 1em 0.1em;
    padding: 0.5em 1em;
    background-color: rgb(255 153 0 / 84%);
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

.autocomplete {
    display: inline-block;
    position: relative;
    width: 300px;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: scroll;
    max-height: 400px;
    border: 1px solid #d4d4d4;
    border-top: none;
    border-bottom: none;
}

.autocomplete-items div {
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.advanced-options {
    transition: all 0.4s ease;
    margin-top: 1rem;
    display: none;
}

.advanced-options.show {
    display: block;
}

.alert > div {
    animation-fill-mode: forwards;
    display: block;
    margin: 6px;
    padding: 6px;
    animation-name: dismiss, hide;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 30000s, 30100ms;
    animation-iteration-count: 1;
    background-color: rgb(212, 212, 212);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
}

.alert > div.error {
    background-color: rgb(242, 222, 222) !important;
    border: 1px solid rgb(238, 211, 215) !important;
    color: rgb(185, 74, 72) !important;
}

.alert > div.success {
    background-color: rgb(223, 240, 216) !important;
    border: 1px solid rgb(214, 233, 198) !important;
    color: rgb(70, 136, 71) !important;
}

.alert > div.info {
    background-color: rgb(217, 237, 247) !important;
    border: 1px solid rgb(188, 232, 241) !important;
    color: rgb(58, 135, 173) !important;
}

.alert > div.warning {
    background-color: rgb(252, 248, 227) !important;
    border: 1px solid rgb(251, 238, 213) !important;
    color: rgb(192, 152, 83) !important;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
}

.loader span {
    color: #fff;
    position: absolute;
    border: 0.25rem solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader span:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes dismiss {
    0% {
        opacity: 1;
    }

    90%,
    100% {
        opacity: 0;
        transform: scale(0);
        font-size: 0.1px;
    }
}

@keyframes hide {
    100% {
        height: 0px;
        width: 0px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
}

@keyframes loader {
    0%,
    5% {
        top: 2.25rem;
        left: 2.25rem;
        width: 0.5rem;
        height: 0.5rem;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }
}
