<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="prashanttripathi.ga.shreeganesh">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:allowBackup="true"
		android:label="श्री गणेश"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".StartActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"/>
		<activity
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
			android:theme="@android:style/Theme.Translucent"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
	</application>
</manifest>
